<h2 class="text-right">מדמה נפילות</h2>
<div class="row">
      <div class="col-lg-4 text-right" style="float:right;direction:rtl">
        <label>קורדינתת X</label>
          <input class="form-control" type="text" data-ng-model="fall.x" />
    </div>
    <div class="col-lg-4 text-right" style="float:right;direction:rtl">
                   <label>קורדינתת Y</label>
          <input class="form-control" type="text" data-ng-model="fall.y" />
    </div>
    <div class="col-lg-2 text-right" style="float:right;direction:rtl">
        <div class="form-group">
            <button class="btn btn-primary" style="margin-top:1.7em" ng-click="addFall()">הוסף נפילה </button>
        </div>
    </div>
</div>
<div clas="row">
    <div class="col-lg-12 text-center" style="height:100px;overflow-y:auto;float:right;direction:rtl">
        <table class="table">
            <thead>
                <tr >
                    <th  style="text-align:right">y</th>
                    <th  style="text-align:right">x</th>
                </tr>
            </thead>
            <tbody class="text-right">
                <tr ng-repeat="fall in  falls">
                      <td>
                         {{fall.y}}
                    </td>
                      <td>
                         {{fall.x}}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>


<h3 class="text-right">נפילות בזמן אמת</h3>
<div class="row">
    <div class="col-lg-12">
        <map id="fallMap">
        </map>
    </div>
</div>