<h2 class="text-right">מדמה מרחבים מוגנים</h2>
<div class="row">
    <div class="col-lg-4 text-right" style="float:right;direction:rtl">
        <label>שם מרחב מוגן</label>
        <input class="form-control" data-ng-model="shelter.name" type="text" />
    </div>
    <div class="col-lg-4 text-right" style="float:right;direction:rtl">
        <label>עיר</label>
        <input class="form-control" type="text" data-ng-model="shelter.city" />
    </div>
      <div class="col-lg-4 text-right" style="float:right;direction:rtl">
        <label>קורדינתת X</label>
          <input class="form-control" type="text" data-ng-model="shelter.x" />
    </div>
    <div class="col-lg-4 text-right" style="float:right;direction:rtl">
                   <label>קורדינתת Y</label>
          <input class="form-control" type="text" data-ng-model="shelter.y" />
    </div>
    <div class="col-lg-2 text-right" style="float:right;direction:rtl">
        <div class="form-group">
            <button class="btn btn-primary" style="margin-top:1.7em" ng-click="addShelter()">הוסף מרחב מוגן</button>
        </div>
    </div>
</div>
<div clas="row">
    <div class="col-lg-12 text-center" style="height:100px;overflow-y:auto;float:right;direction:rtl">
        <table class="table">
            <thead>
                <tr >
                    <th style="text-align:right">שם מרחב מוגן</th>
                    <th  style="text-align:right">עיר</th>
                    <th  style="text-align:right">y</th>
                    <th  style="text-align:right">x</th>
                </tr>
            </thead>
            <tbody class="text-right">
                <tr ng-repeat="shelter in  shelters">
                    <td>
                        {{shelter.name}}
                    </td>
                     <td>
                        {{shelter.city}}
                    </td>
                      <td>
                           {{shelter.y}}
                    </td>
                      <td>
                         {{shelter.x}}
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>


<h3 class="text-right">מרחבים מוגנים</h3>
<div class="row">
    <div class="col-lg-12">
        <map id="shelMap">
        </map>
    </div>
</div>